// estilos globales
html, body { height: 100%; margin: 0;}
body { background-color: var(--background-color); font-family: Montserrat, "Helvetica Neue", sans-serif; }

// colores globales
:root{
    --background-color: #FEFDF8;
    --light-green: #CCDEE0;
    --light-magenta: #CCBBCB;
    --baby-blue: #9FB4CF;
    --dark-lilac: #9D9AB1;
    --semidark-blue: #93A5BB;
    --gradient-one: linear-gradient(0deg rgba(159,180,207,1) 0%, rgba(204,222,224,1) 95%);
    --gradient-two: linear-gradient(0deg, rgba(204,187,203,1) 38%, rgba(159,180,207,1) 88%);
}

// fuentes
@font-face {
    font-family: 'Josefine-Sans-light';
    src: url(/assets/fonts/JosefinSans-Light.ttf);
}

@font-face {
    font-family: 'Josefine-Sans-regular';
    src: url(/assets/fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: 'Josefine-Sans-bold';
    src: url(/assets/fonts/JosefinSans-Bold.ttf); 
}


// estilos del navbar
header{
    background: rgb(159,180,207);
    background: linear-gradient(0deg, rgba(159,180,207,1) 0%, rgba(204,222,224,1) 100%);
    height: 50vh;
.navbar{
    .navbar-text{
        font-family: 'Josefine-Sans-Light';
        margin: 0;
    }
}
}
