html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--background-color);
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

:root {
  --background-color: #fefdf8;
  --light-green: #ccdee0;
  --light-magenta: #ccbbcb;
  --baby-blue: #9fb4cf;
  --dark-lilac: #9d9ab1;
  --semidark-blue: #93a5bb;
  --gradient-one: linear-gradient(
    0deg rgba(159, 180, 207, 1) 0%,
    rgba(204, 222, 224, 1) 95%
  );
  --gradient-two: linear-gradient(
    0deg,
    rgba(204, 187, 203, 1) 38%,
    rgba(159, 180, 207, 1) 88%
  );
}

@font-face {
  font-family: "Josefine-Sans-light";
  src: url(/assets/fonts/JosefinSans-Light.ttf);
}
@font-face {
  font-family: "Josefine-Sans-regular";
  src: url(/assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "Josefine-Sans-bold";
  src: url(/assets/fonts/JosefinSans-Bold.ttf);
}
header {
  background: rgb(159, 180, 207);
  background: linear-gradient(0deg, rgb(159, 180, 207) 0%, rgb(204, 222, 224) 100%);
}
header .navbar-menu__text {
  font-family: "Josefine-Sans-Light";
  font-size: 20px;
  margin: 0;
  padding-top: 37px;
  padding-left: 30px;
}
header .navbar-menu__toggle {
  display: block;
  position: absolute;
  width: 5rem;
  aspect-ratio: 1;
  top: 0.2rem;
  right: 0.3rem;
  z-index: 1;
  background: url(/assets/svg/menu.svg) no-repeat center;
  border: none;
  border-radius: 20px;
}
header .navbar-menu__toggle[aria-expanded=true] {
  background: url(/assets/svg/close.svg) no-repeat center;
  position: fixed;
}
header .navbar-list {
  position: fixed;
  inset: 0 0 0 45%;
  margin: 0;
  flex-direction: column;
  padding-top: 65%;
  background: linear-gradient(180deg, rgb(197, 213, 235) 15%, rgb(185, 230, 205) 100%);
  transition: 0.4s;
  transform: translateX(100%);
}
header .navbar-list__items {
  list-style-type: none;
  text-align: center;
  margin-bottom: 45px;
  margin-right: 45px;
}
header .navbar-list__items a {
  text-decoration: none;
  color: black;
  font-family: "Josefine-Sans-Regular";
  font-size: 1.3rem;
}
header .navbar-list[data-visible=true] {
  transform: translateX(0%);
}
header .header-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 1rem;
}
header .header-content__title {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 29px;
  padding: 1rem 1rem 0 0;
  margin: 0;
}
header .header-content__text {
  font-family: "Josefine-Sans-Regular";
  font-size: 18px;
  padding: 0 1.6rem 0 0;
}
header .header-content__button {
  border: none;
  border-radius: 17px;
  background-color: #324f49;
  margin: 0 1rem;
  padding: 0.7rem 1rem;
}
header .header-content__button a {
  text-decoration: none;
  color: rgb(239, 239, 239);
  font-family: "Josefine-Sans-Regular";
  font-size: 16px;
}
header .header-image__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1.5rem 0 5rem;
}
header .header-image__container .header-image__app {
  margin-top: -4.1rem;
}
header .first-section__wave {
  margin-bottom: -5px;
}

.first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-section__title {
  font-family: "Montserrat";
  text-align: center;
  font-size: 27px;
  margin: 0rem 0 0.5rem 0;
}
.first-section__line {
  width: 140px;
  height: 2.5px;
  background-color: rgb(228, 213, 216);
  border-radius: 20px;
  margin-bottom: 2.5rem;
}
.first-section__previews {
  display: flex;
  font-family: "Josefine-Sans-Light";
  font-size: 13px;
  margin-bottom: 10px;
}
.first-section__previews .section-previews__image {
  z-index: 1;
}
.first-section__previews .section-previews__box {
  margin: 0px 20px 30px -50px;
  align-self: center;
}
.first-section__previews .section-previews__box .section-previews__text {
  background: linear-gradient(var(--background-color), var(--background-color)) padding-box, linear-gradient(to right, var(--baby-blue), var(--light-magenta)) border-box;
  border-radius: 11px;
  border: 4px solid transparent;
  margin: -10px 0 0 -30px;
  padding: 25px 10px 25px 30px;
}

@media (min-width: 640px) {
  header .navbar-menu__toggle {
    display: none;
  }
  header .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    inset: 0 0 0 0;
    margin: 0;
    padding: 0;
    background: none;
    transform: translateX(0%);
    transition: none;
  }
  header .navbar-list__items {
    text-align: center;
    margin-top: -20px;
  }
  header .navbar-list__items a {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
  }
  header .header-content__title {
    font-size: 32px;
    padding: 1rem 11rem 0 1rem;
    margin: 0;
  }
  header .header-content__text {
    font-size: 20px;
    padding: 0 11rem 0 1rem;
  }
  header .header-content__button {
    margin: 0 2rem;
  }
}
@media (min-width: 545px) {
  header {
    min-height: 20vh;
  }
  header .header-content__title {
    font-size: 30px;
    padding: 1rem 7rem 0 0;
    margin: 0;
  }
  header .header-content__text {
    font-size: 20px;
    padding: 0 10rem 0 0rem;
  }
  header .header-content__button {
    margin: 0 1rem;
  }
  header .header-image__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 3.5rem 0 5rem;
  }
  header .header-image__container .header-image__app {
    margin-top: -5rem;
    width: 200px;
  }
}/*# sourceMappingURL=style.css.map */