html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--background-color);
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --background-color: #fefdf8;
  --light-green: #ccdee0;
  --light-magenta: #ccbbcb;
  --baby-blue: #9fb4cf;
  --dark-lilac: #9d9ab1;
  --semidark-blue: #93a5bb;
  --mint-green: #b9e5cd;
  --gradient-one: linear-gradient(
    0deg rgba(159, 180, 207, 1) 0%,
    rgba(204, 222, 224, 1) 95%
  );
  --gradient-two: linear-gradient(
    0deg,
    rgba(204, 187, 203, 1) 38%,
    rgba(159, 180, 207, 1) 88%
  );
}

@font-face {
  font-family: "Josefine-Sans-light";
  src: url(/assets/fonts/JosefinSans-Light.ttf);
}
@font-face {
  font-family: "Josefine-Sans-regular";
  src: url(/assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "Josefine-Sans-bold";
  src: url(/assets/fonts/JosefinSans-Bold.ttf);
}
header {
  background: rgb(159, 180, 207);
  background: linear-gradient(0deg, rgb(159, 180, 207) 0%, rgb(204, 222, 224) 100%);
}
header .navbar-menu__text {
  font-family: "Josefine-Sans-Light";
  font-size: 20px;
  margin: 0;
  padding-top: 37px;
  padding-left: 30px;
}
header .navbar-menu__toggle {
  display: block;
  position: absolute;
  width: 5rem;
  aspect-ratio: 1;
  top: 0.2rem;
  right: 0.3rem;
  z-index: 1;
  background: url(/assets/svg/menu.svg) no-repeat center;
  border: none;
  border-radius: 20px;
}
header .navbar-menu__toggle[aria-expanded=true] {
  background: url(/assets/svg/close.svg) no-repeat center;
  position: fixed;
  z-index: 999;
}
header .navbar-list {
  z-index: 1;
  position: fixed;
  inset: 0 0 0 45%;
  margin: 0;
  flex-direction: column;
  padding-top: 65%;
  background: linear-gradient(180deg, rgb(197, 213, 235) 15%, rgb(185, 230, 205) 100%);
  transition: 0.4s;
  transform: translateX(100%);
}
header .navbar-list__items {
  list-style-type: none;
  text-align: center;
  margin-bottom: 45px;
  margin-right: 45px;
}
header .navbar-list__items a {
  text-decoration: none;
  color: black;
  font-family: "Josefine-Sans-Regular";
  font-size: 1.3rem;
}
header .navbar-list[data-visible=true] {
  transform: translateX(0%);
}
header .header-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 1rem;
}
header .header-content__title {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 29px;
  padding: 1rem 1rem 0 0;
  margin: 0;
}
header .header-content__text {
  font-family: "Josefine-Sans-Regular";
  font-size: 18px;
  padding: 0 4.5rem 0 0;
}
header .header-content__button {
  border: none;
  border-radius: 17px;
  background-color: #324f49;
  margin: 0 1rem;
  padding: 0.7rem 1rem;
}
header .header-content__button a {
  text-decoration: none;
  color: rgb(239, 239, 239);
  font-family: "Josefine-Sans-Regular";
  font-size: 16px;
}
header .header-image__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 2.3rem 0 5rem;
}
header .header-image__container .header-image__app {
  margin-top: -4.1rem;
  width: 185px;
}
header .header-content__waves {
  margin-top: -3.5rem;
}
header .header-content__waves .img__wave {
  margin-bottom: -5px;
}

.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first-section__title {
  font-family: "Montserrat";
  text-align: center;
  font-size: 27px;
  margin: 0rem 0 0.5rem 0;
}
.first-section__line {
  width: 140px;
  height: 2.5px;
  background-color: rgb(228, 213, 216);
  border-radius: 20px;
  margin-bottom: 2.5rem;
}
.first-section__previews {
  display: flex;
  font-family: "Josefine-Sans-Light";
  font-size: 13px;
  margin-bottom: 10px;
}
.first-section__previews .section-previews__image {
  z-index: 1;
}
.first-section__previews .section-previews__box {
  margin: 0px 20px 30px -50px;
  align-self: center;
}
.first-section__previews .section-previews__box .section-previews__text {
  background: linear-gradient(var(--background-color), var(--background-color)) padding-box, linear-gradient(to right, var(--baby-blue), var(--light-magenta)) border-box;
  border-radius: 11px;
  border: 4px solid transparent;
  margin: -10px 0 0 -30px;
  padding: 25px 10px 25px 30px;
}
.first-section .second-section__wave {
  margin: -20px 0 -30px 0;
}

.second-section {
  background-color: var(--mint-green);
  height: 65%;
}
.second-section__title {
  text-align: center;
  font-size: 27px;
  margin: 0rem 3rem 1rem 3rem;
  padding: 1rem 0 1rem 0;
}
.second-section__container {
  width: 100%;
  height: 70%;
  position: relative;
  max-width: 380px;
  margin: auto;
}
.second-section__image-1 {
  position: absolute;
  left: 10%;
  top: 20%;
  z-index: 1;
}
.second-section__image-2 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.second-section__image-3 {
  position: absolute;
  right: 10%;
  top: 20%;
}

.third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Josefine-Sans-Light";
}
.third-section__title {
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  font-size: 29px;
  padding: 3rem 0 0 0;
}
.third-section__review {
  margin-top: 2rem;
}
.third-section__circle-1 {
  margin: auto;
  height: 81px;
  width: 82px;
  background: linear-gradient(148deg, var(--mint-green), var(--baby-blue));
  border-radius: 100px;
}
.third-section__box-1 {
  position: relative;
  z-index: -1;
  width: 200px;
  margin-top: -40px;
  padding: 3.5rem 2rem 2rem 2rem;
  background-color: #e3efef;
}
.third-section__circle-2 {
  margin: auto;
  height: 81px;
  width: 82px;
  background: linear-gradient(148deg, var(--baby-blue), var(--light-magenta));
  border-radius: 100px;
}
.third-section__box-2 {
  position: relative;
  z-index: -1;
  width: 200px;
  margin-top: -40px;
  padding: 3.5rem 2rem 2rem 2rem;
  background-color: #e4e3ef;
}
.third-section__circle-3 {
  margin: auto;
  height: 81px;
  width: 82px;
  background: linear-gradient(148deg, var(--mint-green), var(--semidark-blue));
  border-radius: 100px;
}
.third-section__box-3 {
  position: relative;
  z-index: -1;
  width: 200px;
  margin-top: -40px;
  padding: 3.5rem 2rem 2rem 2rem;
  background-color: #e3edf3;
}
.third-section__circle-4 {
  margin: auto;
  height: 81px;
  width: 82px;
  background: linear-gradient(148deg, var(--dark-lilac), var(--light-magenta));
  border-radius: 100px;
}
.third-section__box-4 {
  position: relative;
  z-index: -1;
  width: 200px;
  margin: -40px 0 40px 0;
  padding: 3.5rem 2rem 2rem 2rem;
  background-color: #efe8ee;
}
.third-section__quote {
  position: absolute;
  top: 110px;
}
.third-section__name {
  font-size: 20px;
  text-align: center;
  margin: 0;
}
.third-section__occupation {
  font-size: 14px;
  text-align: center;
  margin: 0;
}
.third-section__comment {
  font-size: 17px;
  line-height: 120%;
  padding-left: 2rem;
}

.background {
  background-color: var(--light-magenta);
}
.background .fourth-section__title {
  font-family: Montserrat;
  font-size: 29px;
  text-align: center;
  margin: 0 0 3rem 0;
  padding-top: 3rem;
}
.background .fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.background .fourth-section__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefine-Sans-Light";
  width: 170px;
  height: 270px;
  padding: 2rem 2rem;
  margin: 0 0 4rem 0;
  background-color: var(--background-color);
  border-radius: 8px;
}
.background .fourth-section__circle-1 {
  height: 155px;
  width: 147px;
  border-radius: 90px;
}
.background .fourth-section__circle-2 {
  height: 157px;
  width: 152px;
  border-radius: 150px;
}
.background .fourth-section__circle-3 {
  height: 160px;
  width: 155px;
  border-radius: 150px;
}
.background .fourth-section__name {
  font-size: 21px;
  text-align: center;
  margin: 1rem 0 0.4rem 0;
}
.background .fourth-section__position {
  font-size: 14px;
  text-align: center;
  margin: 0;
}
.background .fourth-section__social {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  margin: 2rem 0 0 0;
}
.background .fourth-section__icon-1 {
  border: 1px solid;
  padding: 6px 7px;
  border-radius: 100px;
  margin-right: 1rem;
}
.background .fourth-section__icon-2 {
  border: 1px solid;
  padding: 6px 9px;
  border-radius: 100px;
  text-align: center;
  margin-right: 1rem;
}
.background .fourth-section__icon-3 {
  border: 1px solid;
  padding: 6px 7px;
  border-radius: 100px;
}
.background .fourth-section__icon-1:hover, .background .fourth-section__icon-2:hover, .background .fourth-section__icon-3:hover {
  background-color: #f6ecf5;
}

.footer {
  font-family: "Josefine-Sans-Light";
  background: rgba(0, 0, 0, 0.82);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.footer-logo {
  padding-top: 2.5rem;
}
.footer-bliss {
  font-size: 19px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.footer-line {
  width: 97px;
  height: 1px;
  background-color: #B9E5CD;
  border-radius: 20px;
  margin-bottom: 2.5rem;
  margin: 0;
}
.footer-rights {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.28px;
}
.footer-sections .footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5rem 0 0 0;
  padding: 0;
}
.footer-sections .footer-list__items {
  list-style-type: none;
  text-align: center;
  margin: 0 10px 35px 10px;
}
.footer-sections .footer-list__items a {
  font-size: 1rem;
  text-decoration: none;
  color: #979797;
  letter-spacing: 0.5px;
}
.footer-sections .footer-list__items a:hover {
  color: #FFFFFF;
}

@media screen and (min-width: 545px) {
  header {
    min-height: 20vh;
  }
  header .header-content__title {
    font-size: 28px;
    padding: 3.2rem 8.5rem 0 0.5rem;
    margin: 0;
  }
  header .header-content__text {
    font-size: 18.6px;
    padding: 1rem 11rem 1rem 0.5rem;
    margin: 0;
  }
  header .header-content__button {
    margin: 0 1.5rem;
    padding: 0.6rem 1rem;
  }
  header .header-image__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 1rem 0 0;
  }
  header .header-image__container .header-image__app {
    margin-top: -4.8rem;
    width: 215px;
  }
  header .header-content__waves {
    margin-top: -4.9rem;
  }
  header .header-content__waves .img__wave {
    margin-bottom: -5px;
  }
  .first-section__title {
    font-size: 27px;
    margin: 0rem 0 0.8rem 0;
  }
  .first-section__line {
    width: 240px;
    height: 2.5px;
    margin-bottom: 2.5rem;
  }
  .first-section__previews {
    margin-bottom: 12px;
  }
  .first-section__previews .section-previews__image {
    z-index: 1;
    margin-left: 4.5rem;
  }
  .first-section__previews .section-previews__box {
    margin: 0px 80px 30px -50px;
    align-self: center;
  }
  .first-section .second-section__wave {
    margin: -6% 0 -4% 0;
  }
}
@media screen and (min-width: 640px) {
  header .navbar-menu__toggle {
    display: none;
  }
  header .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    inset: 0 0 0 0;
    margin: 0;
    padding: 0;
    background: none;
    transform: translateX(0%);
    transition: none;
  }
  header .navbar-list__items {
    text-align: center;
    margin-top: -20px;
  }
  header .navbar-list__items a {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  header .header-content__title {
    font-size: 29px;
    padding: 1rem 11rem 0 1rem;
    margin: 0;
  }
  header .header-content__text {
    font-size: 16px;
    padding: 1rem 17rem 0 1rem;
  }
  header .header-content__button {
    margin: 1.5rem 2rem;
  }
  header .header-image__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 1rem 0 0;
  }
  header .header-image__container .header-image__app {
    margin-top: -10.5rem;
    width: 230px;
  }
  header .header-content__waves {
    margin-top: -6.7rem;
  }
  header .header-content__waves .img__wave {
    margin-bottom: -5px;
  }
  .first-section__title {
    font-size: 31px;
    margin: 0rem 0 0.8rem 0;
  }
  .first-section__line {
    width: 295px;
    height: 2.5px;
    margin-bottom: 3.5rem;
  }
  .first-section__previews {
    font-size: 15px;
    margin-bottom: 22px;
  }
  .first-section__previews .section-previews__image {
    z-index: 1;
    margin-left: 8.5rem;
    height: 318px;
  }
  .first-section__previews .section-previews__box {
    margin: 0px 108px 30px -60px;
    align-self: center;
  }
  .first-section__previews .section-previews__box .section-previews__text {
    margin: -10px 0 0 -30px;
    padding: 25px 10px 25px 30px;
    font-size: 16px;
  }
  .first-section__previews .section-previews__box .section-previews__title {
    font-size: 20px;
  }
  .second-section__wave {
    margin: -8% 0 -4% 0;
  }
  .second-section {
    background-color: var(--mint-green);
    height: 55vh;
  }
  .second-section__title {
    text-align: center;
    font-size: 27px;
    margin: 0rem 3rem 1rem 3rem;
  }
  .second-section__container {
    width: 100%;
    height: 70%;
    position: relative;
    max-width: 380px;
    margin: auto;
  }
  .second-section__image-1 {
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 1;
  }
  .second-section__image-2 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .second-section__image-3 {
    position: absolute;
    right: 10%;
    top: 20%;
  }
}
@media screen and (min-width: 768px) {
  header .header-content__title {
    font-size: 36px;
    padding: 2rem 18rem 0 2.5rem;
    margin: 0;
  }
  header .header-content__text {
    font-size: 23px;
    padding: 1rem 21rem 0 2rem;
  }
  header .header-content__button {
    margin: 1.5rem 2.7rem;
    border-radius: 25px;
  }
  header .header-content__button a {
    font-size: 20px;
  }
  header .header-image__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 1rem 0 0;
  }
  header .header-image__container .header-image__app {
    margin-top: -19.5rem;
    width: 305px;
  }
  header .header-content__waves {
    margin-top: -6.7rem;
  }
  header .header-content__waves .img__wave {
    margin-bottom: -5px;
  }
  .second-section {
    background-color: var(--mint-green);
    height: 60vh;
  }
  .second-section__title {
    text-align: center;
    font-size: 27px;
    margin: -3rem 10rem 1rem 10rem;
  }
}
@media screen and (min-width: 800px) {
  header .header-content__title {
    font-size: 33px;
    padding: 2rem 18rem 0 2.5rem;
    margin: 0;
  }
  header .header-content__text {
    font-size: 21px;
    padding: 1rem 24rem 0 2rem;
  }
  header .header-content__button {
    margin: 1.5rem 3.5rem;
    border-radius: 13px;
  }
  header .header-content__button a {
    font-size: 18px;
  }
  header .header-image__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 1rem 0 0;
  }
  header .header-image__container .header-image__app {
    margin-top: -18.5rem;
    width: 305px;
  }
  header .header-content__waves {
    margin-top: -6.7rem;
  }
  header .header-content__waves .img__wave {
    margin-bottom: -5px;
  }
  .first-section__title {
    font-size: 31px;
    margin: 0rem 0 0.8rem 0;
  }
  .first-section__line {
    width: 350px;
    height: 2.5px;
    margin-bottom: 3.5rem;
  }
  .first-section__previews {
    margin-bottom: 25px;
  }
  .first-section__previews .section-previews__image {
    z-index: 1;
    margin-left: 12.5rem;
    height: 319px;
  }
  .first-section__previews .section-previews__box {
    margin: -1px 167px 37px -50px;
    align-self: center;
  }
  .first-section__previews .section-previews__box .section-previews__text {
    margin: -6px 0 0 -27px;
    padding: 22px 28px 18px 30px;
    font-size: 17px;
  }
  .first-section__previews .section-previews__box .section-previews__title {
    font-size: 20px;
  }
  .second-section__wave {
    margin: -8% 0 -4% 0;
  }
  .third-section {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
  .third-section__title {
    font-family: "Montserrat";
    font-weight: 600;
    text-align: center;
    font-size: 35px;
    padding: 3rem 0 0 0;
  }
  .third-section__box-4 {
    position: relative;
    z-index: -1;
    width: 200px;
    margin: -40px 0 0 0;
  }
}
@media screen and (min-width: 960px) {
  header .header-content__title {
    font-size: 35px;
    padding: 2.8rem 26rem 0 5.5rem;
    margin: 0;
  }
  header .header-content__text {
    font-size: 21.5px;
    padding: 1rem 28rem 0 5.3rem;
  }
  header .header-content__button {
    margin: 1.5rem 6.5rem;
    border-radius: 20px;
  }
  header .header-content__button a {
    font-size: 18px;
  }
  header .header-image__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 6rem 0 0;
  }
  header .header-image__container .header-image__app {
    margin-top: -22.5rem;
    width: 335px;
  }
  header .header-content__waves {
    margin-top: -8.5rem;
  }
  header .header-content__waves .img__wave {
    margin-bottom: -5px;
  }
  .first-section__title {
    font-size: 32px;
    margin: -1.5rem 0 0.8rem 0;
  }
  .first-section__line {
    width: 350px;
    height: 2.5px;
    margin-bottom: 3.5rem;
  }
  .first-section__previews {
    margin-bottom: 24px;
  }
  .first-section__previews .section-previews__image {
    z-index: 1;
    margin-left: 16.5rem;
    height: 317px;
  }
  .first-section__previews .section-previews__box {
    margin: 0 14rem 3rem -4.3rem;
    align-self: center;
  }
  .first-section__previews .section-previews__box .section-previews__text {
    margin: -8px 0 0 -25px;
    padding: 25px 28px 26px 30px;
    font-size: 17px;
  }
  .first-section__previews .section-previews__box .section-previews__title {
    font-size: 20px;
  }
  .second-section__wave {
    margin: -7% 0 -4% 0;
  }
  .second-section {
    background-color: var(--mint-green);
    height: 75vh;
  }
  .second-section__title {
    text-align: center;
    font-size: 29px;
    margin: -2.4rem 17rem 1rem 17rem;
  }
  .second-section__container {
    width: 100%;
    height: 68%;
    position: relative;
    max-width: 395px;
    margin: auto;
  }
  .second-section__image-1 {
    position: absolute;
    left: -5%;
    top: 20%;
    height: 370px;
    z-index: 1;
  }
  .second-section__image-2 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -3%;
    height: 425px;
    text-align: center;
  }
  .second-section__image-3 {
    position: absolute;
    right: -5%;
    top: 20%;
    height: 370px;
  }
  .background .fourth-section__title {
    font-size: 32px;
  }
  .background .fourth-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  header .header-content__title {
    font-size: 34.5px;
    padding: 4.8rem 25rem 0 5.5rem;
    margin: 0;
  }
  header .header-content__text {
    font-size: 21px;
    padding: 1rem 28rem 0 5.3rem;
  }
  header .header-content__button {
    margin: 1.5rem 6.1rem;
    border-radius: 15px;
  }
  header .header-content__button a {
    font-size: 20px;
  }
  header .header-image__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 5rem 0 0;
  }
  header .header-image__container .header-image__app {
    margin-top: -20rem;
    width: 345px;
  }
  header .header-content__waves {
    margin-top: -9.7rem;
  }
  header .header-content__waves .img__wave {
    margin-bottom: -5px;
  }
  .first-section__title {
    font-size: 32px;
    margin: -1rem 0 0.8rem 0;
  }
  .first-section__line {
    width: 405px;
    height: 2.5px;
    margin-bottom: 3.5rem;
  }
  .first-section__previews {
    margin-bottom: 23px;
  }
  .first-section__previews .section-previews__image {
    z-index: 1;
    margin-left: 16.5rem;
    height: 305px;
  }
  .first-section__previews .section-previews__box {
    margin: 0 16rem 3rem -3.3rem;
    align-self: center;
  }
  .first-section__previews .section-previews__box .section-previews__text {
    margin: -14px 0 0 -33px;
    padding: 31px 57px 27px 30px;
    font-size: 17.6px;
  }
  .first-section__previews .section-previews__box .section-previews__title {
    font-size: 22px;
  }
  .second-section__wave {
    margin: -8% 0 -4% 0;
  }
}
@media screen and (min-width: 1115px) {
  header .header-content__title {
    font-size: 38px;
    padding: 4.8rem 26rem 0 9.5rem;
    margin: 0;
  }
  header .header-content__text {
    font-size: 25px;
    padding: 1rem 32rem 0 9.6rem;
  }
  header .header-content__button {
    margin: 1.5rem 10.1rem;
    border-radius: 20px;
  }
  header .header-content__button a {
    font-size: 21px;
  }
  header .header-image__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 8rem 1rem 0;
  }
  header .header-image__container .header-image__app {
    margin-top: -24rem;
    width: 359px;
  }
  header .header-content__waves {
    margin-top: -10.9rem;
  }
  header .header-content__waves .img__wave {
    margin-bottom: -5px;
  }
  .first-section__title {
    font-size: 32px;
    margin: -1rem 0 0.8rem 0;
  }
  .first-section__line {
    width: 405px;
    height: 2.5px;
    margin-bottom: 3.5rem;
  }
  .first-section__previews {
    margin-bottom: 23.5px;
  }
  .first-section__previews .section-previews__image {
    z-index: 1;
    margin-left: 17.7rem;
    height: 305px;
  }
  .first-section__previews .section-previews__box {
    margin: 0 20rem 3rem -3.3rem;
    align-self: center;
  }
  .first-section__previews .section-previews__box .section-previews__text {
    margin: -14px 0 0 -33px;
    padding: 31px 57px 27px 30px;
    font-size: 18px;
  }
  .first-section__previews .section-previews__box .section-previews__title {
    font-size: 22px;
  }
  .second-section__wave {
    margin: -8% 0 -4% 0;
  }
  .background .fourth-section__title {
    font-size: 32px;
  }
  .background .fourth-section {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1240px) {
  header .header-content__title {
    font-size: 38px;
    padding: 3.8rem 29rem 0rem 12.5rem;
    margin: 0;
  }
  header .header-content__text {
    font-size: 24.5px;
    padding: 1rem 33rem 0 12.2rem;
  }
  header .header-content__button {
    margin: 1.5rem 13.1rem;
    border-radius: 20px;
  }
  header .header-content__button a {
    font-size: 21px;
  }
  header .header-image__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 9rem 1rem 0;
  }
  header .header-image__container .header-image__app {
    margin-top: -20rem;
    width: 355px;
  }
  header .header-content__waves {
    margin-top: -11.9rem;
  }
  header .header-content__waves .img__wave {
    margin-bottom: -5px;
  }
  .first-section__title {
    font-size: 32px;
    margin: -2rem 0 0.8rem 0;
  }
  .first-section__line {
    width: 350px;
    height: 2.5px;
    margin-bottom: 3.5rem;
  }
  .first-section__previews {
    margin-bottom: 15px;
  }
  .first-section__previews .section-previews__image {
    z-index: 1;
    margin-left: 22rem;
    height: 400px;
  }
  .first-section__previews .section-previews__box {
    margin: 0 24rem 3rem -4rem;
    align-self: center;
  }
  .first-section__previews .section-previews__box .section-previews__text {
    margin: -13px 0 0 -35px;
    padding: 40px 25px 40px 40px;
    font-size: 22px;
    line-height: 25px;
  }
  .first-section__previews .section-previews__box .section-previews__title {
    font-size: 23px;
  }
  .second-section__wave {
    margin: -8% 0 -4% 0;
  }
  .second-section {
    background-color: var(--mint-green);
    height: 80vh;
  }
  .second-section__title {
    text-align: center;
    font-size: 30px;
    margin: -3rem 25rem 1rem 25rem;
  }
  .second-section__container {
    width: 100%;
    height: 65%;
    position: relative;
    max-width: 395px;
    margin: auto;
  }
  .second-section__image-1 {
    position: absolute;
    left: -4%;
    top: 16%;
    height: 340px;
    z-index: 1;
  }
  .second-section__image-2 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 420px;
    text-align: center;
    top: 0;
  }
  .second-section__image-3 {
    position: absolute;
    right: -4%;
    top: 16%;
    height: 350px;
  }
  .background .fourth-section__title {
    font-size: 32px;
  }
  .background .fourth-section {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1320px) {
  header .header-content__title {
    font-size: 37px;
    padding: 5.8rem 36rem 0 12.5rem;
    margin: 0;
  }
  header .header-content__text {
    font-size: 23.5px;
    padding: 1rem 45rem 0 12.2rem;
  }
  header .header-content__button {
    margin: 1.5rem 13.1rem;
    border-radius: 15px;
  }
  header .header-content__button a {
    font-size: 18px;
  }
  header .header-image__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 11rem 1rem 0;
  }
  header .header-image__container .header-image__app {
    margin-top: -23rem;
    width: 355px;
  }
  header .header-content__waves {
    margin-top: -11.9rem;
  }
  header .header-content__waves .img__wave {
    margin-bottom: -5px;
  }
}/*# sourceMappingURL=style.css.map */