// estilos globales
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: var(--background-color);
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// colores globales
:root {
  --background-color: #fefdf8;
  --light-green: #ccdee0;
  --light-magenta: #ccbbcb;
  --baby-blue: #9fb4cf;
  --dark-lilac: #9d9ab1;
  --semidark-blue: #93a5bb;
  --mint-green: #b9e5cd;
  --gradient-one: linear-gradient(
    0deg rgba(159, 180, 207, 1) 0%,
    rgba(204, 222, 224, 1) 95%
  );
  --gradient-two: linear-gradient(
    0deg,
    rgba(204, 187, 203, 1) 38%,
    rgba(159, 180, 207, 1) 88%
  );
}

// fuentes
@font-face {
  font-family: "Josefine-Sans-light";
  src: url(/assets/fonts/JosefinSans-Light.ttf);
}

@font-face {
  font-family: "Josefine-Sans-regular";
  src: url(/assets/fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "Josefine-Sans-bold";
  src: url(/assets/fonts/JosefinSans-Bold.ttf);
}

// estilos del navbar y del header para la versi贸n mobile
header {
  background: rgb(159, 180, 207);
  background: linear-gradient(
    0deg,
    rgba(159, 180, 207, 1) 0%,
    rgba(204, 222, 224, 1) 100%
  );
  .navbar-menu {
    &__text {
      font-family: "Josefine-Sans-Light";
      font-size: 20px;
      margin: 0;
      padding-top: 37px;
      padding-left: 30px;
    }
  }
  .navbar-menu__toggle {
    display: block;
    position: absolute;
    width: 5rem;
    aspect-ratio: 1;
    top: 0.2rem;
    right: 0.3rem;
    z-index: 1;
    background: url(/assets/svg/menu.svg) no-repeat center;
    border: none;
    border-radius: 20px;
  }
  .navbar-menu__toggle[aria-expanded="true"] {
    background: url(/assets/svg/close.svg) no-repeat center;
    position: fixed;
  }
  .navbar-list {
    position: fixed;
    inset: 0 0 0 45%;
    margin: 0;
    flex-direction: column;
    padding-top: 65%;
    background: linear-gradient(
      180deg,
      rgb(196.62, 213.48, 235.16) 15%,
      rgb(184.56, 229.5, 205.23) 100%
    );
    transition: 0.4s;
    transform: translateX(100%);
    &__items {
      list-style-type: none;
      text-align: center;
      margin-bottom: 45px;
      margin-right: 45px;
      a {
        text-decoration: none;
        color: black;
        font-family: "Josefine-Sans-Regular";
        font-size: 1.3rem;
      }
    }
  }
  .navbar-list[data-visible="true"] {
    transform: translateX(0%);
  }

  // estilos del contenido del header
  .header-content {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 1rem;
    &__title {
      font-family: "Montserrat";
      font-weight: bolder;
      font-size: 29px;
      padding: 1rem 1rem 0 0;
      margin: 0;
    }
    &__text {
      font-family: "Josefine-Sans-Regular";
      font-size: 18px;
      padding: 0 4.5rem 0 0;
    }
    &__button {
      border: none;
      border-radius: 17px;
      background-color: #324f49;
      margin: 0 1rem;
      padding: 0.7rem 1rem;
      a {
        text-decoration: none;
        color: rgb(239, 239, 239);
        font-family: "Josefine-Sans-Regular";
        font-size: 16px;
      }
    }
  }
  .header-image__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 2.3rem 0 5rem;
    .header-image__app {
      margin-top: -4.1rem;
      width: 185px;
    }
  }
  .header-content__waves {
    margin-top: -3.5rem;
    .img__wave {
      margin-bottom: -5px;
    }
  }
}

//estilos de la primera secci贸n; apartados
.first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    font-family: "Montserrat";
    text-align: center;
    font-size: 27px;
    margin: 0rem 0 0.5rem 0;
  }
  &__line {
    width: 140px;
    height: 2.5px;
    background-color: rgb(228, 213, 216);
    border-radius: 20px;
    margin-bottom: 2.5rem;
  }
  &__previews {
    display: flex;
    font-family: "Josefine-Sans-Light";
    font-size: 13px;
    margin-bottom: 10px;
    .section-previews__image {
      z-index: 1;
    }
    .section-previews__box {
      margin: 0px 20px 30px -50px;
      align-self: center;
      .section-previews__text {
        background: linear-gradient(
              var(--background-color),
              var(--background-color)
            )
            padding-box,
          linear-gradient(to right, (var(--baby-blue), var(--light-magenta)))
            border-box;
        border-radius: 11px;
        border: 4px solid transparent;
        margin: -10px 0 0 -30px;
        padding: 25px 10px 25px 30px;
      }
    }
  }
  .second-section__wave {
    margin: -12% 0 -2% 0;
  }
}

//estilos de la psegunda secci贸n; mini juegos
.second-section {
  background-color: var(--mint-green);
  height: 60vh;
  &__title {
    text-align: center;
    font-size: 27px;
    margin: 0rem 3rem 1rem 3rem;
  }
  &__container {
    width: 100%;
    height: 70%;
    position: relative;
    max-width: 380px;
    margin: auto;
  }
  &__image-1 {
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 1;
  }
  &__image-2 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  &__image-3 {
    position: absolute;
    right: 10%;
    top: 20%;
  }
}

//estilos de la tercera seccion; reviews
.third-section {
  font-family: "Josefine-Sans-Light";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__title {
    text-align: center;
    font-size: 27px;
    margin: 2rem 0 0 0;
  }
  &__review {
    margin-top: 2rem;
  }
  &__circle-1 {
    margin: auto;
    height: 81px;
    width: 82px;
    background: linear-gradient(148deg, (var(--mint-green), var(--baby-blue)));
    border-radius: 100px;
  }
  &__box-1 {
    position: relative;
    z-index: -1;
    width: 200px;
    margin-top: -40px;
    padding: 3.5rem 2rem 2rem 2rem;
    background-color: #e3efef;
  }
  &__circle-2 {
    margin: auto;
    height: 81px;
    width: 82px;
    background: linear-gradient(
      148deg,
      (var(--baby-blue), var(--light-magenta))
    );
    border-radius: 100px;
  }
  &__box-2 {
    position: relative;
    z-index: -1;
    width: 200px;
    margin-top: -40px;
    padding: 3.5rem 2rem 2rem 2rem;
    background-color: #e3e5ef;
  }
  &__circle-3 {
    margin: auto;
    height: 81px;
    width: 82px;
    background: linear-gradient(
      148deg,
      (var(--mint-green), var(--semidark-blue))
    );
    border-radius: 100px;
  }
  &__box-3 {
    position: relative;
    z-index: -1;
    width: 200px;
    margin-top: -40px;
    padding: 3.5rem 2rem 2rem 2rem;
    background-color: #e8edf4;
  }
  &__circle-4 {
    margin: auto;
    height: 81px;
    width: 82px;
    background: linear-gradient(
      148deg,
      (var(--dark-lilac), var(--light-magenta))
    );
    border-radius: 100px;
  }
  &__box-4 {
    position: relative;
    z-index: -1;
    width: 200px;
    margin: -40px 0 40px 0;
    padding: 3.5rem 2rem 2rem 2rem;
    background-color: #efe8ef;
  }
  &__quote {
    position: absolute;
    top: 110px;
  }
  &__name {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  &__occupation {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
  &__comment {
    font-size: 17px;
    line-height: 120%;
    padding-left: 2rem;
  }
}

//estilos del sidenav y del header para la versi贸n desktop

@media screen and (min-width: 545px) {
  header {
    min-height: 20vh;
    .header-content {
      &__title {
        font-size: 30px;
        padding: 2.2rem 6.5rem 0 0.5rem;
        margin: 0;
      }
      &__text {
        font-size: 20px;
        padding: 1rem 9rem 1rem 0.5rem;
        margin: 0;
      }
      &__button {
        margin: 0 1.5rem;
      }
    }
    .header-image__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 1rem 0 0;
      .header-image__app {
        margin-top: -4.8rem;
        width: 215px;
      }
    }
    .header-content__waves {
      margin-top: -4.9rem;
      .img__wave {
        margin-bottom: -5px;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  header {
    .navbar-menu__toggle {
      display: none;
    }
    .navbar-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      inset: 0 0 0 0;

      margin: 0;
      padding: 0;
      background: none;
      transform: translateX(0%);
      transition: none;
      &__items {
        text-align: center;
        margin-top: -20px;
        a {
          font-size: 1rem;
          font-family: "Montserrat", sans-serif;
        }
      }
    }

    .header-content {
      &__title {
        font-size: 32px;
        padding: 1rem 11rem 0 1rem;
        margin: 0;
      }
      &__text {
        font-size: 20px;
        padding: 1rem 12rem 0 1rem;
      }
      &__button {
        margin: 1.5rem 2rem;
      }
    }
    .header-image__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 1rem 0 0;
      .header-image__app {
        margin-top: -10.5rem;
        width: 230px;
      }
    }
    .header-content__waves {
      margin-top: -6.7rem;
      .img__wave {
        margin-bottom: -5px;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  header{
    .header-content {
      &__title {
        font-size: 36px;
        padding: 2rem 18rem 0 2.5rem;
        margin: 0;
      }
      &__text {
        font-size: 23px;
        padding: 1rem 21rem 0 2rem;
      }
      &__button {
        margin: 1.5rem 2.7rem;
        border-radius: 25px;
        a{
          font-size: 20px;
        }
      }
    }
    .header-image__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 1rem 0 0;
      .header-image__app {
        margin-top: -19.5rem;
        width: 305px;
      }
    }
    .header-content__waves {
      margin-top: -6.7rem;
      .img__wave {
        margin-bottom: -5px;
      }
    }
  }
}


@media screen and (min-width: 800px) {
  header{
    .header-content {
      &__title {
        font-size: 37px;
        padding: 2rem 18rem 0 2.5rem;
        margin: 0;
      }
      &__text {
        font-size: 23px;
        padding: 1rem 21rem 0 2rem;
      }
      &__button {
        margin: 1.5rem 2.7rem;
        border-radius: 25px;
        a{
          font-size: 20px;
        }
      }
    }
    .header-image__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 1rem 0 0;
      .header-image__app {
        margin-top: -18.5rem;
        width: 305px;
      }
    }
    .header-content__waves {
      margin-top: -6.7rem;
      .img__wave {
        margin-bottom: -5px;
      }
    }
  }
}


@media screen and (min-width: 960px) {
  header{
    .header-content {
      &__title {
        font-size: 37px;
        padding: 2.8rem 26rem 0 5.5rem;
        margin: 0;
      }
      &__text {
        font-size: 23px;
        padding: 1rem 28rem 0 5.3rem;
      }
      &__button {
        margin: 1.5rem 5.8rem;
        border-radius: 20px;
        a{
          font-size: 21px;
        }
      }
    }
    .header-image__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 6rem 0 0;
      .header-image__app {
        margin-top: -22.5rem;
        width: 335px;
      }
    }
    .header-content__waves {
      margin-top: -8.5rem;
      .img__wave {
        margin-bottom: -5px;
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  header{
    .header-content {
      &__title {
        font-size: 36.5px;
        padding: 4.8rem 25rem 0 5.5rem;
        margin: 0;
      }
      &__text {
        font-size: 23px;
        padding: 1rem 28rem 0 5.3rem;
      }
      &__button {
        margin: 1.5rem 6.1rem;
        border-radius: 20px;
        a{
          font-size: 21px;
        }
      }
    }
    .header-image__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 5rem 0 0;
      .header-image__app {
        margin-top: -21rem;
        width: 350px;
      }
    }
    .header-content__waves {
      margin-top: -9.7rem;
      .img__wave {
        margin-bottom: -5px;
      }
    }
  }
}


@media screen and (min-width: 1115px) {
  header{
    .header-content {
      &__title {
        font-size: 38px;
        padding: 4.8rem 26rem 0 9.5rem;
        margin: 0;
      }
      &__text {
        font-size: 25px;
        padding: 1rem 32rem 0 9.6rem;
      }
      &__button {
        margin: 1.5rem 10.1rem;
        border-radius: 20px;
        a{
          font-size: 21px;
        }
      }
    }
    .header-image__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 8rem 1rem 0;
      .header-image__app {
        margin-top: -24rem;
        width: 359px;
      }
    }
    .header-content__waves {
      margin-top: -10.9rem;
      .img__wave {
        margin-bottom: -5px;
      }
    }
  }
}


@media screen and (min-width: 1120px) {
  header{
    .header-content {
      &__title {
        font-size: 38px;
        padding: 3.8rem 29rem 0 12.5rem;
        margin: 0;
      }
      &__text {
        font-size: 24.5px;
        padding: 1rem 33rem 0 12.2rem;
      }
      &__button {
        margin: 1.5rem 13.1rem;
        border-radius: 20px;
        a{
          font-size: 21px;
        }
      }
    }
    .header-image__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 9rem 1rem 0;
      .header-image__app {
        margin-top: -20rem;
        width: 355px;
      }
    }
    .header-content__waves {
      margin-top: -11.9rem;
      .img__wave {
        margin-bottom: -5px;
      }
    }
  }
}