// estilos globales
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: var(--background-color);
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

// colores globales
:root {
  --background-color: #fefdf8;
  --light-green: #ccdee0;
  --light-magenta: #ccbbcb;
  --baby-blue: #9fb4cf;
  --dark-lilac: #9d9ab1;
  --semidark-blue: #93a5bb;
  --gradient-one: linear-gradient(
    0deg rgba(159, 180, 207, 1) 0%,
    rgba(204, 222, 224, 1) 95%
  );
  --gradient-two: linear-gradient(
    0deg,
    rgba(204, 187, 203, 1) 38%,
    rgba(159, 180, 207, 1) 88%
  );
}

// fuentes
@font-face {
  font-family: "Josefine-Sans-light";
  src: url(/assets/fonts/JosefinSans-Light.ttf);
}

@font-face {
  font-family: "Josefine-Sans-regular";
  src: url(/assets/fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "Josefine-Sans-bold";
  src: url(/assets/fonts/JosefinSans-Bold.ttf);
}

// estilos del navbar y del header para la versión mobile
header {
  background: rgb(159, 180, 207);
  background: linear-gradient(
    0deg,
    rgba(159, 180, 207, 1) 0%,
    rgba(204, 222, 224, 1) 100%
  );
  .navbar-menu {
    &__text {
      font-family: "Josefine-Sans-Light";
      font-size: 20px;
      margin: 0;
      padding-top: 37px;
      padding-left: 30px;
    }
  }
  .navbar-menu__toggle {
    display: block;
    position: absolute;
    width: 5rem;
    aspect-ratio: 1;
    top: 0.2rem;
    right: 0.3rem;
    z-index: 1;
    background: url(/assets/icons/menu.svg) no-repeat center;
    border: none;
    border-radius: 20px;
  }
  .navbar-menu__toggle[aria-expanded="true"] {
    background: url(/assets/icons/close.svg) no-repeat center;
  }
  .navbar-list {
    position: fixed;
    inset: 0 0 0 45%;
    margin: 0;
    flex-direction: column;
    padding-top: 65%;
    background: linear-gradient(
      180deg,
      rgb(196.62, 213.48, 235.16) 15%,
      rgb(184.56, 229.5, 205.23) 100%
    );
    transition: 0.4s;
    transform: translateX(100%);
    &__items {
      list-style-type: none;
      text-align: center;
      margin-bottom: 45px;
      margin-right: 45px;
      a {
        text-decoration: none;
        color: black;
        font-family: "Josefine-Sans-Regular";
        font-size: 1.3rem;
      }
    }
  }
  .navbar-list[data-visible="true"] {
    transform: translateX(0%);
  }
}

//estilos del sidenav y del header para la versión desktop
@media (min-width: 540px) {
  header {
    .navbar-menu__toggle {
      display: none;
    }
    .navbar-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      inset: 0 0 0 0;
    
      margin: 0;
      padding: 0;
      background: none;
      transform: translateX(0%);
      transition: none;
      &__items {
        padding-left: 2rem;
        text-align: center;
        a {
          font-size: 1rem;
          font-family: 'Montserrat', sans-serif;
        }
      }
    }
  }
}

//estilos de la primera sección; apartados
.firstsection{
  .firstsection-title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .firstsection-previews{
    font-family: "Josefine-Sans-Light";
    font-size: 13px;
    display: flex;
    margin-bottom: 10px;
    .firstsection-previews__image{
      z-index: 1 !important;
    }
    .firstsection-previews__box{
      margin: 0px 20px 30px -50px;
      align-self: center;
      .firstsection-previews__text{
        background: linear-gradient(var(--background-color), var(--background-color)) padding-box,
        linear-gradient(to right, (var(--baby-blue), var(--light-magenta))) border-box;
        border-radius: 11px;
        border: 4px solid transparent;
        margin: -10px 0 0 -30px;
        padding: 25px 10px 25px 30px;
        z-index: -1 !important;
      }
    }
  }
}
