// estilos globales
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: var(--background-color);
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

// colores globales
:root {
  --background-color: #fefdf8;
  --light-green: #ccdee0;
  --light-magenta: #ccbbcb;
  --baby-blue: #9fb4cf;
  --dark-lilac: #9d9ab1;
  --semidark-blue: #93a5bb;
  --gradient-one: linear-gradient(
    0deg rgba(159, 180, 207, 1) 0%,
    rgba(204, 222, 224, 1) 95%
  );
  --gradient-two: linear-gradient(
    0deg,
    rgba(204, 187, 203, 1) 38%,
    rgba(159, 180, 207, 1) 88%
  );
}

// fuentes
@font-face {
  font-family: "Josefine-Sans-light";
  src: url(/assets/fonts/JosefinSans-Light.ttf);
}

@font-face {
  font-family: "Josefine-Sans-regular";
  src: url(/assets/fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "Josefine-Sans-bold";
  src: url(/assets/fonts/JosefinSans-Bold.ttf);
}

// estilos del navbar
header {
  background: rgb(159, 180, 207);
  background: linear-gradient(
    0deg,
    rgba(159, 180, 207, 1) 0%,
    rgba(204, 222, 224, 1) 100%
  );
  .navbar {
    .navbar-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__text {
        font-family: "Josefine-Sans-Light";
        font-size: 20px;
        margin: 0;
        padding-top: 37px;
        padding-left: 30px;
      }
      .hamburguer {
        display: block;
        position: relative;
        width: 45px;
        height: 45px;
        top: 20px;
        right: 20px;

        cursor: pointer;
        appearance: none;
        background-color: #9fb4cf40;
        border: none;
        border-radius: 55px;
        outline: none;
        z-index: 1;
      }
      .bars,
      .hamburguer:after,
      .hamburguer:before {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        border-radius: 8px;
        background-color: black;
        margin: 5.6px 2.5px;
        transition: 0.4s;
        z-index: 1;
      }
      .is-active:after {
        transform: rotate(45deg) translate(-4px, -5px);
      }
      .is-active:before {
        transform: rotate(-45deg) translate(-6px, 6.5px);
      }
      .is-active .bars {
        background-color: transparent;
      }
    }
    .navbar-list {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      margin: 0;
      width: 200px;
      min-height: 100vh;
      background: linear-gradient(
        180deg,
        rgb(196.62, 213.48, 235.16) 0%,
        rgb(184.56, 229.5, 205.23) 100%
      );
      padding-top: 45%;
      transition: 0.4s;
      &__items {
        list-style-type: none;
        display: block;
        text-align: center;
        margin-bottom: 32px;
        margin-right: 45px;
        a {
          text-decoration: none;
          color: black;
          font-family: 'Josefine-Sans-Regular';
          font-size: 1.3rem;
        }
      }
      .navbar-button__download{
        display: block;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: #1E5248;
        border: none;
        margin-top: 15px;
        margin-left: 5px;
        a{
            text-decoration: none;
            color: white;
            font-family: 'Josefine-Sans-Regular';
            font-size: 1rem;
            color: white;
        }
      }

    }
  }
}
